<div class="container-fluid aboutMe">
<div class="container row">
<div class="col-md-8 col-sm-12 col-12">
    <h2 class="bg-name">Pankaj Gupta</h2>
    <h1 class="fg-name">I'm Pankaj</h1>

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active carouselInfo" data-bs-interval="1500">
            <span>Software</span>
          </div>
          <div class="carousel-item carouselInfo" data-bs-interval="1500">
            <span>Full Stack</span>
          </div>
          <!-- <div class="carousel-item carouselInfo" data-bs-interval="1500">
            <span>Developer</span>
          </div> -->
        </div>
      </div>
      <h1 class="fg-name1">Developer</h1>

</div>
<div class="col-md-4">
<img src="./../../assets/pankaj1.jpg" alt="" height="70%" width="100%" class="d-inline-block aboutImg">
</div>
</div>
</div>