<div class="container" style="height: 86.6vh;"><br><br><br>
    <h2 class="text-center">Contact Me</h2>
    <br>
    <p class="text-center text-muted">I’m interested in freelance opportunities – especially ambitious or large projects.<br> However, if you have other request or question, don’t hesitate to contact me.
    </p>
    <div class="row text-center mt-5 pt-3">
        <div class="col-sm-6 col-12 col-md-4">
            <i class="fa fa-phone fs-1"></i><br><br>
            <h5 class="">Phone</h5>
            <a href="tel:+919834371408" class="contactDetails">+91 9834371408</a>
        </div>
        <div class="col-sm-6 col-12 col-md-4">
            <i class="fa fa-envelope fs-1"></i><br><br>
            <h5 class="">Email</h5>
            <a class="contactDetails" href="mailto:pg7032000@gmail.com">pg7032000@gmail.com</a>
        </div>
        <div class="col-sm-6 col-12 col-md-4">
            <i class="fa fa-map-marker fs-1"></i><br><br>
            <h5 class="">Location</h5>
            <a class="contactDetails" href="https://goo.gl/maps/VBZBdV9b4r88iaZr5" target="_blank">Bhiwandi, Maharashtra, <br> India</a>
        </div>
    </div>
</div>
<app-footer></app-footer>