<div class="container">
    <hr>
    <span class="headingExp">1 Year of Experience</span>
    <br>
    <a class="headingText" title="Click to download Resume" href="./assets/PankajResume.pdf" download="pankajResume.pdf">Resume</a><br>
    <hr><br>
    <div class="row">
        <div class="col-sm-6 col-12">
            <span class="headerTitleText">Education</span>
            <hr style="width: 25%;">
            <span class="text-muted year">2020</span><span class="text-muted"> Graduation</span><br><br>
            <p class="text-wrap" style="font-size:12px;">Completed Graduation from Laxman Devram Sonawane College (Mumbai University) in Bachlor os Science(I.T.).</p>
            <span class="text-muted year">2017</span><span class="text-muted"> HSC</span><br><br>
            <p class="text-wrap" style="font-size:12px;">Completed HSC from Laxman Devram Sonawane College (Maharashtra State Board) from Science Stream.</p>
            <span class="text-muted year">2015</span><span class="text-muted"> SSC</span><br><br>
            <p class="text-wrap" style="font-size:12px;">Completed SSC from S.S.Sangh's English Medium School (Maharitan State Board).</p>
        </div>
        <div class="col-sm-6 col-12">
            <span class="headerTitleText">Experience</span>
            <hr style="width: 25%;">
            <span class="text-muted">2021-2022 </span><br><br>
            <p class="text-wrap" style="font-size:12px;">Worked on designing ERP system on Windows as well as Web for 10 months.</p>
            <span class="text-muted">2022 Currently </span><br><br>
            <p class="text-wrap" style="font-size:12px;">Working as a Full Stack Developer at Kemar Automation.</p>
        </div>
    </div>
    <hr>
    <div class="row pb-5">
        <div class="col-6">
            <span class="headerTitleText">Coding & Designing Skills</span>
            <hr style="width: 25%;">
            <span class="text-muted fs-6">Front-end</span>
            <span class="d-flex flex-row-reverse">70%</span>
            <div class="progress" style="height: 7px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>
            <span class="text-muted fs-6">Back-end</span>
            <span class="d-flex flex-row-reverse">60%</span>
            <div class="progress" style="height: 7px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>
            <span class="text-muted fs-6">Database</span>
            <span class="d-flex flex-row-reverse">60%</span>
            <div class="progress" style="height: 7px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>
            <span class="text-muted fs-6">Angular</span>
            <span class="d-flex flex-row-reverse">70%</span>
            <div class="progress" style="height: 7px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>
        </div>
    </div>
</div>
<app-footer></app-footer>